.contact-us {
  .contact-form {
    max-width: 1070px;
    margin: -211px auto 0;
    box-shadow: 3px 0 60px rgba(0, 0, 0, 0.1);
    padding: get-vw(15px, 105px);
    background: $white;
    position: relative;
    @include breakpoint(max, 1580) {
      margin-top: -150px;
    }
    @include breakpoint(max, 1280) {
      margin-top: -120px;
    }
    @include breakpoint(max, 991) {
      margin-top: -50px;
    }
    @include breakpoint(max, 767) {
      margin-top: -20px;
    }
    .form-title {
      padding-bottom: get-vw(25px, 45px);
      h3 {
        padding-bottom: 12px;
      }
      p {
        color: $dark;
      }
    }
    .form {
      .form-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        row-gap: get-vw(20px, 25px);
        > div {
          width: 100%;
          padding: 0 10px;
          flex: initial;
          &.col-50 {
            @include breakpoint(min, 768) {
              width: 50%;
            }
          }
        }
      }
      .input-box {
        .form-control {
          border-radius: get-vw(20px, 50px);
          height: get-vw(40px, 73px);
          padding: 5px get-vw(20px, 35px);
          border: 1px solid #c6c6c6;
          background: $white;
          outline: none;
          box-shadow: none;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        textarea.form-control {
          height: get-vw(150px, 286px);
          padding: get-vw(15px, 35px) get-vw(20px, 35px);
        }
        &.btn-wrap {
          padding-top: 10px;
        }
      }
    }
  }
}
