.home-podcast {
  .ul-list {
    > ul {
      justify-content: center;
      > li {
        width: 33.3333%;
        @include breakpoint(max, $media-md) {
          width: 50%;
        }
        @include breakpoint(max, $media-xs) {
          width: 100%;
        }
      }
    }
  }
}
