.newsletter-wrap {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 38.698%;
    background: $secondary-light;
  }
}

.newsletter {
  background: $primary;
  padding: get-vw(25px, 60px) get-vw(20px, 148px) get-vw(25px, 55px);
  position: relative;
  z-index: 1;
  .title-wrap {
    max-width: 534px;
  }
  h3 {
    font-size: get-vw(24px, 28px);
    color: $white;
    padding-bottom: 4px;
  }
  p {
    color: rgba($white, 0.5);
  }
  .form {
    .form-row {
      display: flex;
      column-gap: 10px;
      @include breakpoint(max, $media-sm) {
        flex-direction: column;
        row-gap: 20px;
      }
      .form-control {
        height: get-vw(52px, 70px);
        border-radius: 100px;
        background: $white;
        padding: 0 get-vw(20px, 28px);
      }
      input[type="submit"] {
        flex-shrink: 0;
      }
    }
  }
}
